//- include main.html
extends layout

block content

    h1= title
    label(class="switch")
      input(type="checkbox" id = "interact")
      span(class="slider")
    div(id = "map" class="map")
      span(id="info" style="position:absolute; left:15px; bottom:5px; color:#000; z-index:50;")
    div(id = 'selectBoard')
        div(id = 'travelMethodDiv')
          Thing Travel Mode: 
          select(id = 'travelMethod' autocomplete="off")
              //option(value=" ") Select a travel method
              option(value = "A_AM" selected) Auto AM
              option(value = "T_AM") Transit AM
              option(value = "W_AM") Walk AM
              option(value = "D") Distance
        div(id = 'jobTypeDiv')
          Thing Access To: 
          select(id = 'jobType' autocomplete="off")
              //option(value=" ") Select a job typ
              option(value = "Total Employment" selected) Work
              option(value = "PSE Enrolment") PSE Enrolment
              option(value = "High School Enrl") High School Enrl
    div(id="viewDiv")
    div(id="legendDiv")  
      div(class='legendClass' id = 'dynamicLegend')
    div(id="legendControl")
      label(class='container')
        input(type = 'radio' name = 'selectLegend' id = 'relativeLegend' value = 'relative' checked)
        Thing Relative to Auto
      label(class='container')
        input(type = 'radio' name = 'selectLegend' id = 'absoluteLegend' value = 'absolute')
        Thing Absolute
    div(id='informationDiv')
        p text
    script(src="/javascripts/test.js")
