//- include main.html
extends layout

block content

    h1= title
    label(class="switch")
      input(type="checkbox" id = "interact")
      span(class="slider")
    div(id = "map" class="map")
    div(id = 'selectBoard')
        div(id = 'travelMethodDiv')
          Thing Travel Mode: 
          select(id = 'travelMethod' autocomplete="off")
              //option(value=" ") Select a travel method
              option(value = "A_AM" selected) Auto AM
              option(value = "T_AM") Transit AM
              option(value = "W_AM") Walk AM
              option(value = "D") Distance
        div(id = 'jobTypeDiv')
          Thing Access To: 
          select(id = 'jobType' autocomplete="off")
              //option(value=" ") Select a job typ
              option(value = "Total Employment" selected) Total Employment
              option(value = "PSE Enrolment") PSE Enrolment
              option(value = "High School Enrl") High School Enrl
    div(id="viewDiv")

    div(id="legendDiv")  
      div(class='legendClass' id = 'dynamicLegend')
    div(id="legendControl")
      input(type = 'radio' name = 'selectLegend' id = 'relativeLegend' value = 'relative' checked)
      Thing Relative to Auto
      input(type = 'radio' name = 'selectLegend' id = 'absoluteLegend' value = 'absolute')
      Thing Absolute
    script.

      console.log($('#map').attr('id'))
      //pass data to frontend from backend

    script(src="/javascripts/test.js")
